body {
  background-color: #0d1117;
  color: #f3f4f6;
  font-family: "Anek Devanagari", sans-serif;
}

nav {
  display: flex;
  gap: 0.3em;
  justify-content: flex-end;
}

.page-change {
    color:#0d1117;
    background-color: #00FFFF;
    padding: 8px 15px;
    width: 75px;
    text-align: center;
    border: 3.5px solid 	#374151;
    box-shadow: 4px 4px 10px rgba(0, 255, 255, 0.4);
    border-radius: 8px;
    text-decoration: none;
    font-size:large;
    font-family: 'Orbitron', sans-serif;
    transition: all .3s ease;
}

.page-change:hover{
    background-color: #22c55e;
}

.greetings{
  text-align: center;
  border: 5px inset #00FFFF;
  width: 99%;
  height: 200px;
  margin: 0px auto 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #9CA3AF;
}

.intro{
  letter-spacing: 1px;
  height: 5px;
  margin: 50px auto 0px;
  font-size: 3em;
}

#some-kind{
  margin-top: 45px;
  font-size:large;
  text-wrap:wrap;
  font-size: 1.5em;
}

.project{
  display: flex;
  border: 5px inset #37eb79;
  justify-content: space-between;
  width: 100%
  margin: auto 0;
  padding: 0;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #9CA3AF;
}

.project-image{
  width: 30%;
  margin: 25px auto;
}

.project-description{
  margin: auto;
  width: 55%;
  text-align: center;
}

#self-desc{
  display: block;
  width: 38%;
  margin: 15px auto 15px;
  padding: auto 0;
  font-size: large;
  text-align: center;
  font-size: 1.3em;
}

.project-logo{
  width:100%;
}

#technologies{
  display: flex;
  gap: 15px;
  margin: 25px auto;
  width: 100%;
  justify-content: space-between;
  flex-direction:column;
}

#tech{
  height: 100px;
  width: 100px;
}

.section-header{
  display: block;
  text-align: center;
  margin: 30px auto 6px;
  border: 5px inset #A855F7;
  width: 200px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #9CA3AF;
}

.tech-image:hover{
  transform: scale(1.2);
  transition: all .3s ease;
}

.about{
  height: 180px;
}

.AM{
  display: flex;
  margin: 25px auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.AM-image{
  height: 160px;
  border-radius: 5px;
}

.about-me-description{
  text-align: center;
  width: 60%;
  margin: 25px auto;
}

.mthood{
  background-color: #fff;
}

.new-layout{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#tech-sec{
  width: 20%;
  align-items: center;
  justify-content: center;
}

#proj-sec{
  display:flex;
  width:80%;
  flex-direction:column;
}

.tech-title{
  width:100%;
}