body {
  background-color: #0d1117;
  color: #f3f4f6;
  font-family: "Anek Devanagari", sans-serif;
}

nav {
  display: flex;
  gap: 0.3em;
  justify-content: flex-end;
  margin-top: 18px;
}

.page-change {
    color:#0d1117;
    background-color: #00FFFF;
    padding: 8px 15px;
    width: 75px;
    text-align: center;
    border: 3.5px solid 	#374151;
    box-shadow: 4px 4px 10px rgba(0, 255, 255, 0.4);
    border-radius: 8px;
    text-decoration: none;
    font-size:large;
    font-family: 'Orbitron', sans-serif;
    transition: all .3s ease;
}

.page-change:hover{
    background-color: #22c55e;
}

#greetings{
  text-align: center;
  border: 10px inset #00FFFF;
  width: 325px;
  height: 150px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 4px 4px 10px #9CA3AF;
}

#intro{
  letter-spacing: 1px;
  margin: 20px 0px;
}

#some-kind{
  font-size:large;
  text-wrap:wrap;
}

.project{
  display: flex;
  border: 5px inset #37eb79;
  width: 75%;
  justify-content: space-between;
  margin: auto;
  padding: 0;
}

.project-image{
  width: 30%;
  margin: 25px auto;
}

.project-description{
  margin: auto;
  width: 55%;
  text-align: center;
}

#self-desc{
  display: block;
  width: 38%;
  margin: 0 auto 15px;
  padding: auto 0;
  font-size: large;
  text-align: center;

}

.project-logo{
  width:100%;
}

#technologies{
  display: flex;
  gap: 5px;
  margin: 25px auto;
  width: 75%;
  justify-content: space-between;
}

#tech{
  height: 100px;
  width: 100px;
}

.section-header{
  display: block;
  text-align: center;
  margin: 30px auto 35px;
  border: 5px inset #A855F7;
  width: 200px;
}

.tech-image:hover{
  transform: scale(1.2);
  transition: all .3s ease;
}